.progress-page {
    max-width: 500px;
    margin: 40px auto;
    font-family: "Segoe UI", sans-serif;
    text-align: center;
  }
  
  /* Progress line & steps */
  .progress-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }
  
  .progress-container::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 6px;
    width: 100%;
    background-color: #e0e0e0;
    transform: translateY(-50%);
    border-radius: 3px;
    z-index: 1;
  }
  
  .progress-line {
    position: absolute;
    top: 50%;
    left: 0;
    height: 6px;
    background-color: #4caf50;
    transform: translateY(-50%);
    transition: width 0.4s ease;
    border-radius: 3px;
    z-index: 2;
  }
  
  .progress-step {
    position: relative;
    z-index: 3;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #ccc;
    color: white;
    line-height: 35px;
    font-weight: bold;
    font-size: 14px;
    transition: all 0.3s ease;
  }
  
  .progress-step.active {
    background-color: #4caf50;
    transform: scale(1.1);
  }
  .onboardMainSection{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 20px 20px;
  }
  .onboardCard{
    width:60%;
    height: 700px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    box-shadow: 0 0 5px lightblue;
  }
.onboardLeft{
    width:50%;
    height:700px;
}
.onboardLeft img{
    width:100%;
    height:100%;
}
.onboardRight{
    width:50%;
    padding:20px 30px;
}
.onBoardTitle{
    width:100%;
    text-align: center;
}
.onBoardTitle p{
    font-size: 30px;
    font-weight: bold;
}

.onboardingButtonSection{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.onboardingButtonSection button{
    width:48%;
    padding:15px 10px;
    border-radius:10px;
    border:none;
    cursor: pointer;
}