
.dashboardContent {
    padding: 30px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }
  
  /* Header */
  .dashHeader h2 {
    font-size: 28px;
    font-weight: bold;
  }
  
  .dashHeader p {
    margin-top: 4px;
    color: gray;
    font-size: 16px;
  }
  
  /* Top Section */
  .dashTopSection {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 25px;
    gap: 20px;
  }
  
  /* Upcoming Event Card */
  .upcomingCard {
    display: flex;
    padding: 15px;
    width: 30%;
    border-radius: 12px;
    background: white;
    box-shadow: 0 0 10px #1f7a8c;
    position: relative;
  }
  
  .eventImage {
    width: 90px;
    height: 90px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 15px;
  }
  
  .eventInfo h3 {
    font-size: 18px;
    font-weight: bold;
  }
  
  .eventInfo p {
    color: gray;
  }
  .eventLoc{
    width:100%;
    position: absolute;
    bottom:20px;
    left:120px;
  }
  .eventLoc p{
    font-size: 16px;
    font-weight: bold;
    color: #1f7a8c;
  }
  
  /* Stats */
  .dashStatsCard {
    width: 120px;
    height: 90px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .dashStatsCard h1 {
    margin: 0;
  }
  
  .dashStatsCard p {
    margin: 0;
    color: gray;
  }
  
  /* Tasks */
  .tasksSection {
    margin-top: 40px;
  }
  
  .sectionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
  }
  
  .sectionHeader h3 {
    font-size: 20px;
  }
  
  .viewAll {
    color: royalblue;
    cursor: pointer;
  }
  
  .taskList {
    margin-top: 10px;
    background: white;
    padding: 15px;
    border-radius: 12px;
  }
  
  .taskItem {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    cursor: pointer;
  }
  
  .taskItem input {
    margin-right: 10px;
  }
  
  .taskDone {
    text-decoration: line-through;
    color: gray;
  }
  .memberSection{
    margin-top: 50px;
    width:100%;
    display:flex;
    align-items: center;
    flex-wrap: wrap;
  }

  /* Vendors */
  .vendorsSection {
    margin-top: 40px;
    width:50%;
  }
  
  .vendorsGrid {
    display: flex;
    gap: 20px;
    margin-top: 15px;
  }
  
  .vendorCard {
    width: 180px;
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 10px #1f7a8c;
  }
  
  .vendorImage {
    width: 100%;
    height: 100px;
    object-fit: cover;
  }
  
  .vendorInfo {
    padding: 10px;
  }
  
  .vendorName {
    font-weight: bold;
  }
  
  .vendorEvents {
    color: gray;
    font-size: 13px;
  }
  