.sidebarSection{
    width:15%;
    height:100%;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);

}
.orgLogoName{
    width:100%;
    height:100px;
    padding:10px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.orgLogoName img{
    width:80%;
    height:60%;
}

.sidebar{
    width:100%;
    padding: 60px 10px;
}
.sidebarUnit{
    width:80%;
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding:15px;
    margin-bottom:15px;
    cursor: pointer;
}
.sidebarUnit img{
    width:20px;
    height:20px;
    margin-right: 10px;
}
.sidebarUnit p{
    font-size: 20px;
    color: #1f7a8c;
}
.sideunitActive{
    border: none;
    border-radius: 10px;
    background-color: #bfdbf7;
}