.main{
    width:100%;
    height:100vh;
    position:relative;
}
.mainContainer{
    width:100%;
    height:100%;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: flex-start;
}
.mainPage{
    width:85%;
    height:100%;
    padding: 0px 0px 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.mainHeader{
    width:100%;
    height: 80px;
    padding:10px 10px 20px 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0 0 5px 0px lightgrey;
}
.pagePath p{
    font-size: 40px;
    font-weight:bold;
}
.pageUser{
    position: absolute;
    right:20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pageUser p{
    margin:0px 10px;
    font-size: 18px;
    font-weight: bold;
}
.userIcon{
    width:50px;
    height:50px;
    border-radius: 50%;
}
.userDropdown{
    width:20px;
    height:20px;
}

.mainContent{
    height: calc(100% - 80px);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding:10px;
    padding-left:20px;
}
.pageModal{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    background-color: rgba(0,0,0,.7);
    display:flex;
    align-items: center;
    justify-content: center;
}
.modal{
    width:600px;
    min-height:500px;
    background: #fff;
    padding:15px;
    border-radius: 20px;
    position: relative;
}
.modalClose{
   position: absolute;
   right:25px;
   top:15px;
   width:15px;
   height:15px;
   cursor: pointer;
}
.modalHeader{
    width:100%;
    text-align: center;
    margin-bottom: 25px;
}
.modalHeader p{
    font-size: 30px;
    font-weight: bold;
}
.modalUnit{
    width:100%;
    padding: 0px 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.modalUnitHalf{
    width:48%;
}
.modalButtonSection{
    width:100%;
    
}