@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --color-text-default: #022b3a;
  --color-text-active: black;
  --color-border-default: lightgray;
  --color-border-active: black;


  --color-buttonmain-one:#1f7a8c;
  --color-buttonmain-two:#e1e5f2;

  --color-floating-initial:#1f7a8c;
  --color-floating-final:#bfdbf7;

  --color-link:#1f7a8c;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color:var(--color-text-default);
  font-family: 'Inter', sans-serif;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
